@import url("https://fonts.googleapis.com/css?family=Comfortaa");
/* line 3, ../sass/ph.sass */
body::before {
  background-image: none;
}

/* line 6, ../sass/ph.sass */
body {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
}

/* line 10, ../sass/ph.sass */
tbody {
  border-top: none;
}

/* line 14, ../sass/ph.sass */
.front.logged-in.no-sidebars.page-front-page.role-authenticated-user.role-editor.admin-menu.lightbox-processed #admin-menu {
  background: none;
  box-shadow: none;
}

/* line 18, ../sass/ph.sass */
.page-eform.page-form.section-form.lightbox-processed.mean-container {
  margin-top: -10px;
}
/* line 21, ../sass/ph.sass */
.page-eform.page-form.section-form.lightbox-processed.mean-container .letterhead, .page-eform.page-form.section-form.lightbox-processed.mean-container img, .page-eform.page-form.section-form.lightbox-processed.mean-container .mean-bar, .page-eform.page-form.section-form.lightbox-processed.mean-container .meanmenu-reveal, .page-eform.page-form.section-form.lightbox-processed.mean-container .logo {
  width: 0;
  height: 0;
  padding: 0;
}

/* line 29, ../sass/ph.sass */
.page-node.lightbox-processed.mean-container .letterhead, .page-node.lightbox-processed.mean-container img, .page-node.lightbox-processed.mean-container .mean-bar, .page-node.lightbox-processed.mean-container .meanmenu-reveal, .page-node.lightbox-processed.mean-container .logo {
  width: 0;
  height: 0;
  padding: 0;
}
/* line 34, ../sass/ph.sass */
.page-node.lightbox-processed.mean-container .form-item.form-type-item {
  margin: 0;
  height: 0;
  font-size: 0;
}
/* line 39, ../sass/ph.sass */
.page-node.lightbox-processed.mean-container .form-item.form-type-item label {
  width: 0;
  height: 0;
  padding: 0;
}
/* line 44, ../sass/ph.sass */
.page-node.lightbox-processed.mean-container .links {
  height: 0;
  width: 0;
}

/* line 48, ../sass/ph.sass */
.field-item.even {
  margin-top: 0px;
}

/* line 53, ../sass/ph.sass */
.page-node-53 .field-item.even {
  height: 454px;
  overflow-y: scroll;
}

/* line 57, ../sass/ph.sass */
#outerImageContainer {
  height: 480px !important;
}

/* line 60, ../sass/ph.sass */
.error {
  color: red;
}

/* line 63, ../sass/ph.sass */
#cboxTitle {
  font-size: 0px;
  background: none;
}

/* line 69, ../sass/ph.sass */
.lightbox2-alt-layout-data #bottomNavClose {
  margin-top: 0;
}
/* line 72, ../sass/ph.sass */
.lightbox2-alt-layout-data #bottomNav {
  margin-bottom: 0;
}

/* line 75, ../sass/ph.sass */
#imageDataContainer.clearfix.lightbox2-alt-layout-data {
  height: 35px;
  border-radius: 0 0 5px 5px;
}

/* line 79, ../sass/ph.sass */
#imageData, #bottomNav {
  height: 0 !important;
}

/* line 82, ../sass/ph.sass */
#outerImageContainer {
  border-radius: 5px 5px 0 0;
  width: 300px;
}

/* line 86, ../sass/ph.sass */
#edit-actions {
  margin-bottom: 0px;
}

/* line 89, ../sass/ph.sass */
.form-item .description {
  font-size: 0px;
  margin: 0px;
}

/* line 93, ../sass/ph.sass */
p {
  margin: 0;
}

/* line 96, ../sass/ph.sass */
li {
  margin-left: 30px;
}

/* line 99, ../sass/ph.sass */
h1 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0.5em;
  padding: 0;
}

/* line 105, ../sass/ph.sass */
h2 {
  font-size: 2.6em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

/* line 110, ../sass/ph.sass */
h3 {
  font-size: 2.2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

/* line 115, ../sass/ph.sass */
h4 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 120, ../sass/ph.sass */
h5 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 124, ../sass/ph.sass */
h6 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 128, ../sass/ph.sass */
a.con {
  padding: 10px;
  background-color: #F25720;
  border: 1px solid;
  border-color: #D16546 #CA4E2A #CA5D3D;
  color: #FFF;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

/* line 137, ../sass/ph.sass */
a.con:hover {
  color: #2C2D2D;
  text-decoration: none;
}

/* line 141, ../sass/ph.sass */
#user-login, .node-form {
  margin-top: 60px;
}

/* line 144, ../sass/ph.sass */
.form-required {
  font-size: 18px;
}

/* line 147, ../sass/ph.sass */
#edit-field-uzenet-und-0-value {
  max-width: 389px;
}

/* line 150, ../sass/ph.sass */
.resizable-textarea .grippie {
  height: 0;
  width: 0;
  border: 0;
}

/* line 155, ../sass/ph.sass */
.panel-flexible {
  width: 100%;
}

/* line 158, ../sass/ph.sass */
.panels-flexible-1 .panels-flexible-row {
  padding: 0px;
}

/* line 161, ../sass/ph.sass */
.panel-flexible .panel-separator {
  margin: 0px;
}

/* line 164, ../sass/ph.sass */
.panels-flexible-region {
  width: 100%;
}

/* line 167, ../sass/ph.sass */
.inside.panels-flexible-region-inside {
  padding: 0px;
}

/* line 170, ../sass/ph.sass */
.letterhead .clearfix {
  width: 1140px;
  margin: auto;
}

/* line 174, ../sass/ph.sass */
.letterhead {
  width: 100%;
  background: black;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
}
/* line 182, ../sass/ph.sass */
.letterhead .logo {
  width: auto;
  padding-top: 10px;
  padding-right: 22px;
}
/* line 187, ../sass/ph.sass */
.letterhead .main_menu {
  width: auto;
  float: none;
}
/* line 191, ../sass/ph.sass */
.letterhead .main_menu ul {
  display: flex;
  line-height: 60px;
}
/* line 195, ../sass/ph.sass */
.letterhead .main_menu ul li {
  margin-left: 0px;
  list-style: none;
}
/* line 199, ../sass/ph.sass */
.letterhead .main_menu a {
  text-decoration: none;
  text-shadow: 0 1px 1px #F25720;
  color: #E34309;
  padding-left: 15px;
  text-transform: uppercase;
}
/* line 206, ../sass/ph.sass */
.letterhead .main_menu a:hover {
  color: white;
}

/* line 209, ../sass/ph.sass */
.editor_menu {
  margin-top: 60px;
}
/* line 212, ../sass/ph.sass */
.editor_menu ul {
  display: flex;
}
/* line 215, ../sass/ph.sass */
.editor_menu ul li.leaf {
  list-style: none;
}
/* line 218, ../sass/ph.sass */
.editor_menu ul li.leaf a {
  font-size: 16px;
  color: red;
  background-color: black;
  padding: 7px;
  border-radius: 5px;
}
/* line 225, ../sass/ph.sass */
.editor_menu ul li.leaf a.active {
  color: white;
}

/* line 229, ../sass/ph.sass */
#icon ul.language-switcher-locale-url {
  display: flex;
  float: right;
}
/* line 233, ../sass/ph.sass */
#icon ul.language-switcher-locale-url li {
  list-style: none;
  margin-left: 10px;
}

/* line 237, ../sass/ph.sass */
#slider img {
  width: 100%;
}

/* line 240, ../sass/ph.sass */
#introduction p, #partners p, #advantages p, #apply p, #parameters p {
  max-width: 1140px;
  margin: auto;
}

/* line 245, ../sass/ph.sass */
#introduction, #apply, #advantages, #gallery, #partners, #parameters, #connection {
  padding-bottom: 50px;
  border-top: solid 50px #fff0;
  margin-top: -50px;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 253, ../sass/ph.sass */
#introduction h6, #apply h6, #advantages h6, #gallery h6, #partners h6, #parameters h6, #connection h6 {
  font-size: 2.5em;
  font-weight: bold;
  color: #E34309;
  margin: auto;
  max-width: 1140px;
  width: 100%;
  padding-bottom: 40px;
}

/* line 262, ../sass/ph.sass */
#apply {
  background: #292929;
  border-top: solid 50px white;
}
/* line 266, ../sass/ph.sass */
#apply p {
  max-width: none;
}
/* line 269, ../sass/ph.sass */
#apply table {
  color: white;
  max-width: 1140px;
  margin: auto;
}
/* line 274, ../sass/ph.sass */
#apply table table {
  width: 245px;
}
/* line 277, ../sass/ph.sass */
#apply table table td {
  height: 120px;
}
/* line 280, ../sass/ph.sass */
#apply img {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 285, ../sass/ph.sass */
#advantages {
  background-image: url("/sites/default/files/oldal_kepe_2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% -15px;
  border-top: solid 50px #292929;
  padding-right: 0px;
  padding-left: 0px;
}
/* line 294, ../sass/ph.sass */
#advantages .pane-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 50px;
  margin-bottom: -50px;
  border-right: solid 10px #fff0;
  border-left: solid 10px #fff0;
}
/* line 301, ../sass/ph.sass */
#advantages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 306, ../sass/ph.sass */
#advantages ul li {
  padding-left: 13px;
  text-indent: -13px;
  margin-left: 0;
}
/* line 311, ../sass/ph.sass */
#advantages ul li::before {
  content: url("li.png");
  padding-right: 6px;
}
/* line 315, ../sass/ph.sass */
#advantages h6 {
  padding-top: 50px;
  margin-top: -50px;
}
/* line 319, ../sass/ph.sass */
#advantages table {
  color: white;
  max-width: 1140px;
  margin: auto;
}
/* line 324, ../sass/ph.sass */
#advantages table table {
  width: 250px;
  margin-top: 25px;
}

/* line 328, ../sass/ph.sass */
#partners {
  padding-bottom: 30px;
}
/* line 332, ../sass/ph.sass */
#partners table {
  width: auto;
  margin: auto;
}
/* line 336, ../sass/ph.sass */
#partners table table {
  float: left;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 344, ../sass/ph.sass */
#partners table table img {
  height: 80px;
}

/* line 347, ../sass/ph.sass */
#parameters {
  background-image: url("/sites/default/files/rajz.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% -15px;
  border-top: solid 50px white;
  padding-right: 0px;
  padding-left: 0px;
}
/* line 357, ../sass/ph.sass */
#parameters .pane-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 50px;
  margin-bottom: -50px;
  border-right: solid 10px #fff0;
  border-left: solid 10px #fff0;
}
/* line 364, ../sass/ph.sass */
#parameters h6 {
  padding-top: 50px;
  margin-top: -50px;
}
/* line 368, ../sass/ph.sass */
#parameters table {
  max-width: 900px;
  margin: auto;
  color: white;
}

/* line 374, ../sass/ph.sass */
#gallery {
  max-width: 1140px;
  margin: auto;
  margin-top: -50px;
  padding-left: 0;
  padding-right: 0;
}
/* line 383, ../sass/ph.sass */
#gallery img:hover {
  opacity: 0.4;
}

/* line 387, ../sass/ph.sass */
#introduction h6::before, #apply h6::before, #advantages h6::before, #gallery h6::before, #partners h6::before, #parameters h6::before {
  border-top: 1px solid #EA4B35;
  float: right;
  display: block;
  content: "";
  height: 2px;
  margin-top: 22px;
}

/* line 395, ../sass/ph.sass */
#introduction h6::after, #apply h6::after, #advantages h6::after, #gallery h6::after, #partners h6::after, #parameters h6::after {
  border-top: 1px solid #EA4B35;
  float: left;
  display: block;
  content: "";
  height: 2px;
  margin-top: 22px;
}

/* line 403, ../sass/ph.sass */
#advantages h6::before, #advantages h6::after {
  width: 38%;
}

/* line 406, ../sass/ph.sass */
#introduction h6::before, #introduction h6::after {
  width: 37%;
}

/* line 409, ../sass/ph.sass */
#apply h6::before, #apply h6::after {
  width: 24%;
}

/* line 412, ../sass/ph.sass */
#partners h6::before, #partners h6::after {
  width: 36%;
}

/* line 415, ../sass/ph.sass */
#parameters h6::before, #parameters h6::after {
  width: 34%;
}

/* line 418, ../sass/ph.sass */
#gallery h6::before, #gallery h6::after {
  width: 39%;
}

/* line 421, ../sass/ph.sass */
#connection {
  background: #292929;
  border-top: solid 50px #fff;
  padding-right: 0px;
  padding-left: 0px;
}
/* line 427, ../sass/ph.sass */
#connection table {
  max-width: 1140px;
  margin: auto;
}
/* line 431, ../sass/ph.sass */
#connection table table {
  max-width: 280px;
}

/* line 434, ../sass/ph.sass */
.panels-flexible-region.panels-flexible-region-2-map_ {
  height: 450px;
}

/* line 439, ../sass/ph.sass */
.map iframe {
  width: 100%;
  height: 450px;
}

/* line 443, ../sass/ph.sass */
#my_footer {
  background: black;
  margin-bottom: -21px;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 449, ../sass/ph.sass */
#my_footer table {
  margin: auto;
  height: 60px;
}

@media screen and (max-width: 1139px) {
  /* line 456, ../sass/ph.sass */
  #gallery {
    max-width: 800px;
  }
  /* line 459, ../sass/ph.sass */
  #gallery img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 1089px) {
  /* line 466, ../sass/ph.sass */
  h6 {
    font-size: 2.4em !important;
  }
}
@media screen and (max-width: 1069px) {
  /* line 473, ../sass/ph.sass */
  #partners table table {
    width: 180px;
  }
  /* line 476, ../sass/ph.sass */
  #partners table table img {
    height: 60px;
  }
}
@media screen and (max-width: 1014px) {
  /* line 481, ../sass/ph.sass */
  h6 {
    font-size: 2.3em !important;
    line-height: 1.5em !important;
  }
}
@media screen and (max-width: 1034px) {
  /* line 487, ../sass/ph.sass */
  .editor_menu {
    margin-top: 52px;
  }

  /* line 492, ../sass/ph.sass */
  .mean-bar .mean-nav {
    background-color: black;
  }
  /* line 495, ../sass/ph.sass */
  .mean-bar a {
    background-color: #F1541E;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 15px;
  }

  /* line 501, ../sass/ph.sass */
  .mean-container a.meanmenu-reveal {
    padding: 5px;
  }

  /* line 504, ../sass/ph.sass */
  .mean-container .mean-bar {
    position: fixed;
    background: black;
    left: auto;
    right: 0px;
    width: 55%;
    top: 0px;
    z-index: 10;
  }

  /* line 513, ../sass/ph.sass */
  .mean-container .mean-nav ul {
    margin-top: 4px;
  }

  /* line 517, ../sass/ph.sass */
  nav.mean-nav li {
    margin-left: 0;
  }
  /* line 520, ../sass/ph.sass */
  nav.mean-nav li a {
    background-color: black;
    border-radius: 0;
    font-size: 13px;
  }
  /* line 525, ../sass/ph.sass */
  nav.mean-nav .first {
    margin-top: 4px;
  }

  /* line 528, ../sass/ph.sass */
  .letterhead .clearfix {
    width: 100%;
    background-color: black;
  }

  /* line 532, ../sass/ph.sass */
  .letterhead {
    height: 50px;
    width: 45%;
  }
  /* line 536, ../sass/ph.sass */
  .letterhead .logo {
    padding: 0px;
    height: 52px;
    background: black;
    width: 45%;
  }
  /* line 542, ../sass/ph.sass */
  .letterhead .logo img {
    max-width: 150px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 969px) {
  /* line 548, ../sass/ph.sass */
  h6 {
    font-size: 2.1em !important;
    line-height: 1.6em !important;
  }
}
@media screen and (max-width: 899px) {
  /* line 553, ../sass/ph.sass */
  #apply h6::before, #apply h6::after {
    width: 22%;
  }
}
@media screen and (max-width: 869px) {
  /* line 559, ../sass/ph.sass */
  #apply img {
    width: 0px !important;
    height: 0px !important;
  }
  /* line 563, ../sass/ph.sass */
  #apply table {
    max-width: 600px;
  }
}
@media screen and (max-width: 859px) {
  /* line 570, ../sass/ph.sass */
  #partners table table {
    width: 130px;
  }
  /* line 573, ../sass/ph.sass */
  #partners table table img {
    height: 47px;
  }
}
@media screen and (max-width: 839px) {
  /* line 580, ../sass/ph.sass */
  #advantages table table {
    float: left;
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 829px) {
  /* line 586, ../sass/ph.sass */
  #advantages h6::before, #advantages h6::after, #introduction h6::before, #introduction h6::after, #apply h6::before, #apply h6::after, #partners h6::before, #partners h6::after, #parameters h6::before, #parameters h6::after, #gallery h6::before, #gallery h6::after {
    width: 0%;
  }
}
@media screen and (max-width: 799px) {
  /* line 591, ../sass/ph.sass */
  #gallery {
    max-width: 600px;
  }
  /* line 594, ../sass/ph.sass */
  #gallery img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 767px) {
  /* line 600, ../sass/ph.sass */
  #advantages {
    background: #1C4180;
  }

  /* line 603, ../sass/ph.sass */
  #parameters {
    background: #7A7ABD;
  }
}
@media screen and (max-width: 675px) {
  /* line 609, ../sass/ph.sass */
  #parameters .rteleft h5 {
    padding-top: 40px;
  }
  /* line 613, ../sass/ph.sass */
  #parameters table td {
    float: left;
  }
}
@media screen and (max-width: 674px) {
  /* line 620, ../sass/ph.sass */
  #partners table table {
    float: none;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
  }
  /* line 626, ../sass/ph.sass */
  #partners table table img {
    height: 80px;
  }
}
@media screen and (max-width: 839px) {
  /* line 633, ../sass/ph.sass */
  #connection table table {
    float: none;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 599px) {
  /* line 639, ../sass/ph.sass */
  #gallery {
    max-width: 400px;
  }
  /* line 642, ../sass/ph.sass */
  #gallery img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 569px) {
  /* line 650, ../sass/ph.sass */
  #apply img {
    width: 0px !important;
    height: 0px !important;
  }
  /* line 654, ../sass/ph.sass */
  #apply table {
    width: 300px;
    margin-left: 0px;
  }
  /* line 658, ../sass/ph.sass */
  #apply table td {
    float: left;
  }
  /* line 661, ../sass/ph.sass */
  #apply table td.rtecenter {
    height: 0;
  }
  /* line 664, ../sass/ph.sass */
  #apply table table {
    width: 300px;
  }
  /* line 667, ../sass/ph.sass */
  #apply table table td {
    height: auto;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 459px) {
  /* line 673, ../sass/ph.sass */
  #outerImageContainer {
    width: 300px !important;
  }

  /* line 676, ../sass/ph.sass */
  #lightboxFrame {
    width: 280px;
  }

  /* line 679, ../sass/ph.sass */
  #imageDataContainer.clearfix.lightbox2-alt-layout-data {
    width: 300px !important;
  }
}
@media screen and (max-width: 399px) {
  /* line 685, ../sass/ph.sass */
  #gallery {
    max-width: 320px;
  }
  /* line 688, ../sass/ph.sass */
  #gallery img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 300px) {
  /* line 694, ../sass/ph.sass */
  #edit-field-uzenet-und-0-value {
    max-width: 280px;
  }

  /* line 699, ../sass/ph.sass */
  #form-entityform-edit-form input {
    width: 280px;
  }
  /* line 702, ../sass/ph.sass */
  #form-entityform-edit-form #edit-submit {
    width: auto;
  }
}
